@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
/* Dark mode styles */
.dark body {
  @apply bg-gray-800;
  color: white;
}

body {
  font-family: 'Rubik Variable', sans-serif;
  @apply text-main-darker;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.landing-lazy-image-small div,
.landing-lazy-image-small img {
  height: 100%;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
