body {
  font-family: 'Rubik Variable', sans-serif;
  @apply text-main-darker;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.landing-lazy-image-small div,
.landing-lazy-image-small img {
  height: 100%;
}
